@font-face {
  font-family: 'KlarnaTextMedium';
  src: url('/fonts/KlarnaTextMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlarnaTextMediumRegular';
  src: url('/fonts/KlarnaTextMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
